/*
view.list-pager
----------------------------------------
*/

.view.list-pager {

    font-size: 1rem;
    line-height: 1.4em;

    padding: 2em 0 2em;

    ul.page-list {

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.25em 0.25em 0;

            a {
                background-color: #555658;
                color: #ffffff;
            }
        }
        li.active a {
            background-color: #999999;
            // color: #999999;
        }
    }

    &.align-center ul.page-list {
        text-align: center;
    }
}
