/*
Breakpoints
------------------------- 
*/

$breakpoint-mobile-max: 991px;
$breakpoint-desktop-under: 991px;
$breakpoint-desktop: 992px;

$breakpoint-desktop-lg-under: 1199px;
$breakpoint-desktop-lg: 1200px;

$breakpoint-desktop-xl-under: 1599px;
$breakpoint-desktop-xl: 1600px;

$breakpoint-desktop-xxl-under: 1999px;
$breakpoint-desktop-xxl: 2000px;

:root {
    /*
    Fonts
    -------------------------
    */

    --font-regular: "Open Sans Regular", sans-serif;
    --font-extrabold: "Open Sans Extrabold", sans-serif;
    --font-bold: "Open Sans Bold", sans-serif;
    --font-semibold: "Open Sans Semibold", sans-serif;
    --font-light: "Open Sans Light", sans-serif;

    /*
    Breakpoints
    ------------------------- 
    */

    // --breakpoint-mobile-max: #{$breakpoint-mobile-max};
    // --breakpoint-desktop-under: #{breakpoint-desktop-under};
    // --breakpoint-desktop: #{breakpoint-desktop};

    // --breakpoint-desktop-lg-under: #{breakpoint-desktop-lg-under};
    // --breakpoint-desktop-lg: #{breakpoint-desktop-lg};

    // --breakpoint-desktop-xl-under: #{breakpoint-desktop-xl-under};
    // --breakpoint-desktop-xl: #{breakpoint-desktop-xl};

    // --breakpoint-desktop-xxl-under: #{breakpoint-desktop-xxl-under};
    // --breakpoint-desktop-xxl: #{breakpoint-desktop-xxl};


    /*
    Colors
    ------------------------- 
    */

    --color-white: #ffffff;
    --color-black: #000000;

    --color-grey1: #333333;
    --color-grey2: #555555;

    /*
    Misc
    ------------------------- 
    */

    --body-font-size: 14;
}

/*
Functions
------------------------- 
*/

// @function toRem($value) {
//     $remValue: calc(round(calc($value / $body-font-size) * 1000) / 1000) + rem; 
//     @return $remValue;
// }
