// @import "../../mods/Boot_Styler/vars.scss";

/*
Breakpoints
------------------------- 
*/

$breakpoint-tablet-under: 767px;
$breakpoint-tablet: 768px;

$breakpoint-desktop-under: 991px;
$breakpoint-desktop: 992px;

$breakpoint-desktop-lg-under: 1199px;
$breakpoint-desktop-lg: 1200px;

$breakpoint-desktop-xl-under: 1599px;
$breakpoint-desktop-xl: 1600px;

$breakpoint-desktop-xxl-under: 1999px;
$breakpoint-desktop-xxl: 2000px;

// :root {
//     --color-grey1: #555555;
// }
