/*
.view
------------------------- 
*/

.view {
    position: relative;
}

/*
.view.header
------------------------- 
*/

.view.header {

    font-size: 1rem;
    line-height: 1.4em;

    background-color: $color_grey2;
    color: $color_white;
    // box-shadow: 1px 1px 0.2143rem rgba(0,0,0,0.4);

    transition-property: top;
    transition-duration: 0.5s;

    z-index: 100;

    .header-r1 {
        padding: 0.5em 0;
    }
    .header-r2 {
        padding: 0.5em 0;
    }
    &.has-nav-top .header-r2 {
        padding-top: 0;
    }

    &.sticky {
        position: fixed;
        top: -4.17em;
        left: 0;
        width: 100%;

        @media (min-width: $breakpoint_desktop)
        {
            top: -3.57em;
        }
    }
    &.sticky-d {
        top: 0;
    }

    .site-logo {
        // padding: 0 0 1.5em;
        a {
            display: block;
        }
        .img-resp {
            max-width: 9.33em;
            @media (min-width: $breakpoint_desktop)
            {
                max-width: 7.64em;
            }
        }
    }

    nav {
        ul {
            font-size: 1rem;
            line-height: 1.4em;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                a {
                    font-family: $font_regular;
                    color: inherit !important;
                    border-bottom: 2px solid transparent;
                    transition-property: border-bottom-color;
                    transition-duration: 0.3s;

                    &:hover {
                        border-bottom-color: $color_white;
                    }
                }

                &.icon-item a {
                    position: relative;
                    padding-left: 3em !important;

                    @media (min-width: $breakpoint_desktop)
                    {
                        padding-left: 2em !important;
                    }
    
                    > span:first-child:not(:last-child),
                    > i {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 1.43em 1em;
                        font-size: inherit;
                        line-height: inherit;

                        @media (min-width: $breakpoint_desktop)
                        {
                            padding: 0.5em 0.5em;
                        }
                    }
                }
            }
        }
        ul.sub-menu {
            display: none;
        }
    }

    /* ---------- */

    .nav-toggle-btn {
        position: relative;
        padding: 0.1em;
        margin: 0;
        border: none;
        background-color: transparent;
        color: $color_white;
        font-size: 2.5em;
        line-height: 1em;
        font-style: normal;
        font-weight: 900;
        font-variant: normal;
        text-rendering: auto;
    }

    .nav-toggle-btn::before {
        font-family: "dashicons";
        display: block;
        line-height: 1em;
        // content: "\f333";
        content: "\f228";
    }

    &.nav-opened .nav-toggle-btn::before {
        content: "\f335";
    }

    .navs-mob-cont {

        position: fixed;
        top: 4.17em;
        left: -100%;
        height: calc(100% - 4.17em);
        width: 100%;
        color: #4c4c4e;
        z-index: 200;

        transition-property: left;
        transition-duration: 0.5s;

        .nav-close-area {
            position: absolute;
            width: 25%;
            height: 100%;
            top: 0;
            right: 0;
        }

        .navs-cont {
            height: 100%;
            width: 75%;
            background-color: #ffffff;
            overflow-y: auto;
        }

        nav.nav-top-mob {
            padding: 0.857em 0;
            background-color: #efefef;

            ul.menu {
                li a {
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 0.857em;
                    line-height: 1.4em;
                    text-decoration: none;
                    opacity: 1;
                    position: relative;
                    color: inherit;

                    span.item-name {
                        display: block;
                        position: relative;
                    }
                }

                > li > a {
                    padding: 0.857em 1.43em;
                    text-transform: uppercase;
                    // border-bottom: 1px solid #CECECE;
                    font-weight: 500;
                }
            }
        }

        nav.nav-primary-mob {
            ul.menu {
                border-top: 1px solid #CECECE;

                li a {
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 0.857em;
                    line-height: 1.4em;
                    text-decoration: none;
                    opacity: 1;
                    position: relative;
                    color: inherit;

                    span.item-name {
                        display: block;
                        position: relative;
                    }
                }

                > li.menu-item-has-children > a {
                    position: relative;
                    padding-right: 3em;
                }
                > li.menu-item-has-children > a::after {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: "\0002B";
                    padding: 1.43em 1.43em;
                }
                > li.menu-item-has-children.submenu-opened > a::after {
                    content: "\000D7";
                }
                > li > a {
                    padding: 1.43em 1.43em;
                    text-transform: uppercase;
                    border-bottom: 1px solid #CECECE;
                    font-weight: 500;
                }

                ul.sub-menu {
                    padding: 0.43em 0;
                    background-color: #f0f0f0;
                    border-bottom: 1px solid #CECECE;

                    > li > a {
                        padding: 0.857em 1.43em;
                        font-weight: 400;
                    }
                }

                > li.submenu-opened > ul.sub-menu {
                    display: block;
                }
            }
        }
    }

    &.nav-opened {
        .navs-mob-cont {
            left: 0;
        }
        // &.sticky-d .navs-mob-cont {
        //     top: 4.17em;
        //     height: calc(100% - 4.17em);
        // }
    }

    nav.nav-top {

        font-size: 1em;
        line-height: 1.4em;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            li {
                padding: 0 1em;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }

                a {
                    display: block;
                    padding: 0;
                    text-decoration: none;
                    font-family: $font_light;
                    color: inherit;

                    &:hover {
                        color: $color_grey2;
                    }
                }
            }
        }
    }

    nav.nav-primary {

        font-size: 1.2em;
        line-height: 1.4em;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            li {
                padding: 0 1.5em;

                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                
                a {
                    display: block;
                    text-decoration: none;
                    padding: 0.5em 0 0.5em;
                    text-transform: uppercase;
                    text-align: right;
                    color: inherit;

                    &:hover {
                        color: $color_grey2;
                    }
                }
            }
        }
    }
}

/*
.view.footer
------------------------- 
*/

.view.footer {
    padding: 2em 0 2em;
    border-top: 0.2143rem solid $color_black;
    background-color: $color_grey1;
    color: $color_white;
    font-size: 1rem;
    line-height: 1.4em;
    font-family: $font_light;

    p {
        font-size: 0.857em;
        line-height: 1.4em;
    }

    .footer-widgets {

        padding: 0;

        .widget {
            padding: 0 0 1.5rem;

            .widget-title {
                font-size: 1em;
                line-height: 1.4em;
                font-family: $font_semibold;
                padding: 0 0 1em;
                margin: 0;
            }

            ul.menu {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 0 0 0.5em;
                    margin: 0;

                    a {
                        font-size: 0.857em;
                        line-height: 1.4em;
                        font-family: $font_light;
                        color: inherit;
    
                        &:hover {
                            // color: $color_grey2;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .site-logo {
        padding: 0 0 1.5em;
        a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            @media (min-width: $breakpoint_desktop)
            {
                justify-content: flex-end;
            }
        }
        .img-resp {
            max-width: 8em;
        }
    }

    .copy-info {
        text-align: center;
        @media (min-width: $breakpoint_desktop)
        {
            text-align: right;
        }
    }

    .footer-info {
        text-align: center;
    }
}
