
$breakpoint_desktop: 992px;

$c-1: #333333;
$c-2: #a53c3c;
$c-3: #2f8b5d;

.tilec-app {

    padding: 3rem 0;
    font-size: 14px;
    line-height: 1.4em;
    color: #333333;
    
    .app-editor {
        width: 100%;
        display: flex;
        flex-direction: column;

        @media (min-width: $breakpoint_desktop)
        {
            flex-direction: row;

            .view.tools-bar {
                width: 25%;
            }
            .view.grid {
                width: 75%;
            }
        }
    }

    /*
    * .view.grid
    * ------------------------------
    */
    .view.grid {

        font-size: 1rem;
        display: flex;
        flex-direction: column;
        border-top: 2px solid #666666;
        border-left: 2px solid #666666;

        .grid-row {
            display: flex;
            flex-direction: row;
        }
        .grid-cell {
            width: 100%;
            border-right: 1px solid #e3e3e3;
            border-bottom: 1px solid #e3e3e3;
            position: relative;

            .h {
                display: block;
                position: relative;
                width: 100%;
                padding-bottom: 100%;
                cursor: pointer;
                z-index: 40;

                &:hover {
                    background-color: #e3e3e3;
                }
            }
            &.filled .h {
                z-index: 20;
            }

            .view.tile {
                position: absolute;
                top: -1px;
                left: -1px;
            }

            /* ----- cell colors ----- */
            // &.bg-1 {
            //     background-color: #333333;
            // }
        }
    }

    /*
    * .view.tile
    * ------------------------------
    */

    .view.tile {
        position: relative;
        cursor: pointer;
        z-index: 30;

        .tile-row {
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        .tile-cell {
            width: 100%;

            &:before {
                display: block;
                content: "";
                padding-bottom: 100%;
            }
        }

        /* ----- tile colors ----- */

        &.c-1 .tile-cell.filled {
            background-color: $c-1;
        }
        &.c-2 .tile-cell.filled {
            background-color: $c-2;
        }
        &.c-3 .tile-cell.filled {
            background-color: $c-3;
        }

        &:hover .tile-cell.filled {
            // background-color: #888888;
            opacity: 0.8;
        }
    }

    /*
    * .view.tile-options
    * ------------------------------
    */

    .view.tile-options {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .tile-option {
            cursor: pointer;
            width: 25%;
            margin: 0 0.25rem 0.25rem;

            @media (min-width: $breakpoint_desktop)
            {
                margin: 0 0 0.25rem;
                width: 100%;
            }
        }
    }

    /*
    * .view.modal
    * ------------------------------
    */

    .view.modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 2rem;
        background-color: rgba(0,0,0,0.25);
        z-index: 100;
        
        &.opened {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .modal-window {
            position: relative;
            width: 100%;
            background-color: #ffffff;

            @media (min-width: 992px)
            {
                width: 60%;
            }
        }

        .modal-header {
            position: relative;
            padding: 1.5rem 4rem 1.5rem 2rem;

            .modal-title {
                position: relative;
                padding: 0;
                margin: 0;
                font-size: 2rem;
            }
            .btn-close {
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                margin: 0;
                border: none;
                font-size: 2rem;
                line-height: 1em;
                background-color: transparent;
                cursor: pointer;
            }
            .btn-close:before {
                display: block;
                content: '\000D7';
                padding: 1rem 1.5rem;
            }
        }

        .modal-body {
            padding: 2rem 2rem;
        }
    }

    /*
    * .view.tools-bar
    * ------------------------------
    */

    .view.tools-bar {

        padding: 1rem;
        background-color: #eeeeee;

        // visibility: hidden;
        // &.enabled {
        //     visibility: visible;
        // }

        .view.tile-options {

            .tile-option {
                display: flex;
                flex-direction: row;
                width: 100%;

                margin: 0 0 1rem;
                
                .option-label {
                    padding: 0.5rem;
                    text-align: right;
                    width: 50%;
                }
                .option-btn {
                    width: 50%;
                    padding: 0.5rem;
                    background-color: #ececec;
                }
            }
        }
    }

    /*
    * .view.tile-edit
    * ------------------------------
    */

    .view.tile-edit {

        width: 100%;
        display: flex;
        flex-direction: row;

        @media (min-width: $breakpoint_desktop)
        {
            flex-direction: column;
        }

        .edit-tools {

            &:not(:last-child)
            {
                padding: 0 1rem 0 0;
                margin: 0 1rem 0 0;
                border-right: 2px solid #ececec;

                @media (min-width: $breakpoint_desktop)
                {
                    padding: 0 0 1rem;
                    margin: 0 0 1rem;
                    border-right: none;
                    // border-bottom: 2px solid #ececec;
                }
            }
            
            .tools-label {
                display: none;
                margin: 0 0 0.5rem;
                font-size: 1rem;
            }

            .tools-controls {

                .tool-btn {
                    display: inline-block;
                    font-size: 1rem;
                    border: 2px solid #6666;
                    border-radius: 3px;
                    background-color: #e3e3e3;
                    color: #333333;
                    padding: 0.25em 0.75em;
                    text-align: center;
                    margin: 0 0.25em 0.25em 0;

                    &.icon-btn {
                        &:before {
                            display: block;
                            font-family: "dashicons";
                        }

                        &.rotate.left:before {
                            content: "\f166";
                        }
                        &.rotate.right:before {
                            content: "\f167";
                        }

                        &.move.left:before {
                            content: "\f341";
                        }
                        &.move.right:before {
                            content: "\f345";
                        }
                        &.move.up:before {
                            content: "\f343";
                        }
                        &.move.down:before {
                            content: "\f347";
                        }

                        &.remove:before {
                            content: "\f335";
                        }
                    }

                    &.color.c-1 {
                        background-color: $c-1;
                    }
                    &.color.c-2 {
                        background-color: $c-2;
                    }
                    &.color.c-3 {
                        background-color: $c-3;
                    }
                }
            }
        }
    }

}
